*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
background: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}


main:has(.back-link) {
  text-align: center;
}

/* ================== main-hero-section =========================== */
.main-hero-section {
  padding-bottom: 40px;
}

.gallery-title {
  padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
      /* text-transform: uppercase; */
      font-size: 24px;
      line-height: 1.3;
      font-weight: 500;
      color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
    justify-content: flex-end;
}

.gallery-button {
  padding-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.gallery-button p {
  padding: 6px;
  font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    width: 250px;
}

.gallery-button a {

    display: inline-block;
    background: unset;
      color: #fff;
      border: 1px solid #fff;
      font-size: 14px;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      transition: all 0.3s ease;
}

.gallery-button a:hover {
background: #fff;
  color: #111;
}

.img-banner {
  margin-top: -110px;
    width: 100%;
      display: flex;
      height: 640px;
      text-align: center;
      /* filter: grayscale(100%); */
        /* transition: filter 0.6s ease, transform 0.6s ease; */
    background: linear-gradient(135deg, rgba(30, 30, 30, 0.7), rgba(60, 60, 60, 0.7)),
        url(/img/webp/news_1727788546_66fbf60231ec5.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(8px);
}



/* ====================== gallery-section ============================ */
.gallery-section {
  padding-top: 40px;
}

.gallery-list {
  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gallery-ul {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.gallery-list img {
  width: 320px;
  height: 370px;
  object-fit: cover;
  object-position: top center;
  border-radius: 8px;
}

.gallery-list-url img {
  padding-bottom: 20px;
  filter: grayscale(100%);
  transition: filter 0.6s ease, transform 0.6s ease;
}

.gallery-list-url:hover img {
  filter: grayscale(0%);
  transform: scale(1.03);
  filter: grayscale(0%);
    transform: scale(1.03);
    /* box-shadow: 0 0 15px rgba(255, 215, 0, 0.3); */
}

.gallery-list-url h2 {
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
.gallery-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  }


.gallery-list {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
}
.gallery-list img {
  width: 100%;
}
}

@media only screen and (min-width: 1200px) {
  .gallery-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .gallery-list {
    flex: 1 1 calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
  }
}


