.main {
    padding-top: 80px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.hero-section-container {
    width: 100%;
    text-align: center;
}

.hero-section-img {
    display: flex;
    justify-content: center;
}

.hero-section-img img {
    width: 100%;
    border-radius: 6px;
}

.hero-title {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 600;
}

.hero-subtitle {
    font-family: "Poppins", sans-serif;
    padding: 16px 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    padding: 16px 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .hero-section {
        flex-direction: row;
    }

    .hero-section-img img {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* =========== unit-section ================= */

.unit-section {
    margin: 40px 0;
    padding: 6px 0;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit-title {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
}

.unit-section img {
    width: 60%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .unit-section {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .unit-section img {
        width: 30%;

    }
}

@media only screen and (min-width: 1200px) {
    .unit-section img {
        width: 20%;
    }
}

/* ============ memory-section ==================== */

.memory-section-div {
    display: flex;
    flex-direction: column;
}

.memory-title {
    font-family: "Poppins", sans-serif;
    padding: 16px 0;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.memory-gallery {
    padding-bottom: 16px;
}

.memory-gallery img {
    border-radius: 6px;
    width: 100%;
}

.memory-section-text p {
    font-family: "Poppins", sans-serif;
    padding: 16px 0;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

/* ================= img =============== */

.memory-gallery-img ul {
    display: flex;
    padding: 10px;
}

.memory-gallery-img ul li {
    padding: 10px;
    border-radius: 6px;
}

.memory-gallery-img img {
    border-radius: 6px;
}

@media only screen and (min-width: 1200px) {
    .memory-section-div {
        flex-direction: row-reverse;
    }

    .memory-gallery {
        padding: 16px;
    }

    .memory-section-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        text-align: start;
        padding: 16px;
    }
}

.memory-gallery-img ul {
    display: flex;
    padding: 10px;
}

.memory-gallery-img ul li {
    padding: 10px;
    border-radius: 6px;
}

.memory-gallery-img img {
    border-radius: 6px;
}


